-- ============================================================
-- Avenu ÔÇö Categories table (slug -> image/logo)
-- ============================================================
-- Run this once in your Supabase SQL Editor so the admin can
-- attach an image/logo to each catalog category.
-- Safe to run repeatedly.
-- ============================================================

CREATE TABLE IF NOT EXISTS public.categories (
  slug text PRIMARY KEY,
  name text NOT NULL DEFAULT '',
  image text,
  -- data URL or remote URL of the category logo/art
  updated_at timestamptz DEFAULT now()
);

ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;

-- Allow anyone (anon) to read category logos so the storefront can show them.
DROP POLICY IF EXISTS "categories_select" ON public.categories;
CREATE POLICY "categories_select" ON public.categories
  FOR SELECT USING (true);

-- Let authed admin writes use the service role (or anon with a restrictive policy if you prefer).
-- Simple approach: allow anon insert/update is NOT recommended; better to keep
-- writes to the service role (sever/CLI). The UI will use the anon key though,
-- so add a permissive policy ONLY if you accept the trade-off:
DROP POLICY IF EXISTS "categories_upsert_admin" ON public.categories;
CREATE POLICY "categories_admin_write" ON public.categories
  FOR ALL
  USING (true)
  WITH CHECK (true);
